<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web安全实验</title>
</head>
<body>
    <h1>Web安全实验</h1>
    <h2>查询评论</h2>
    <form action="" method="get">
        搜索内容：<input type="text" name="content" placeholder="搜索内容">
        <input type="submit" name="submit" value="提交">
    </form>
    {% if query %}
    <h4>查询评论 "{{ query }}" 结果如下：</h4>
    {% else %}
    <h4>所有的评论如下：</h4>
    {% endif %}
    {% for comment in comments %}
    <div>{{ comment }}</div>
    <br>
    {% endfor %}
    <h2>发布评论</h2>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        {{ form.newComment.label }}: {{ form.newComment(size=20) }}<br>
        {{ form.submit() }}
    </form>
</body>
</html>
